<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="../static/nbrb/FlatUI/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/nbrb/FlatUI/dist/css/flat-ui.css" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
 <style>
      body {
        min-height: 500px;
      }

      .navbar-static-top {
        margin-bottom: 19px;
      }
 </style>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="/">NBRB</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/exrates/">Цены на валюты</a></li>
            <li><a href="/priceMetals/">Цены на металлы</a></li>
          </ul>
        </div>
      </div>
    </div>

  <div class="container">

      <div class="jumbotron">
        <p>{% block content %}{% endblock %}</p>
        </p>
      </div>

  </div>
</body>
</html>