{% extends "nbrb/base.html" %}
{% block title %}Цены на валюты{% endblock %}

{% block content %}
<h5>Курс белорусского рубля по отношению к иностранным валютам:</h5>
Последнее обновление данных: {{ date }}
<br>
<div class="table-responsive">
    <table class="table">
    <thead>
    <tr>
    <th>Код валюты:</th>
    <th>Название валюты:</th>
    <th>Кол-во единиц</th>
    <th>Официальный курс валюты:</th>
        </tr>
    </thead>
    <tbody>
    {% for rate in list_daily_exrates %}
    <tr>
        <td>{{ rate.abbreviation }}</td>
        <td><a href="/{{ rate.abbreviation }}/">{{ rate.name }}</a></td>
        <td>{{ rate.scale }}</td>
        <td>{{ rate.rate }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
