{% extends "nbrb/base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
<h3>NBRB script</h3>
<p>Данное приложение ежедневно обновляет данные курса валют и цен на драгоценные металлы
    Национального Банка Республики Беларусь.
    Приложение написано с помощью python3 и веб-фреймворка django.
</p>
{% endblock %}
