{% extends "nbrb/base.html" %}
{% block title %}Информация о валюте{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="row">
    <div class="col-1-md-2 col-md-offset-4">
    <img src="{% static 'nbrb/images/' %}{{ img }}.svg" class="img-rounded img-responsive" width="300" height="200" />
    </div>
    <br>
    <p>{{ info }}</p>
</div>
{% endblock %}