{% extends "nbrb/base.html" %}
{% block title %}Информация о металле{% endblock %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>
            $(function() {
                    $( "#id_start_date" ).datepicker({
                            dateFormat: "yy-mm-dd",
                            defaultDate: "-31",
                            maxDate: "+0d",
                            minDate: "2017-01-01",
                            changeMonth: true,
                            numberOfMonths: 1,
                            onClose: function( selectedDate ) {
                                    $( "#id_start_date" ).datepicker( "option", selectedDate );
                            }
                    });
            });
            $(function() {
                    $( "#id_end_date" ).datepicker({
                            dateFormat: "yy-mm-dd",
                            maxDate: "+0d",
                            changeMonth: true,
                            numberOfMonths: 1,
                            onClose: function( selectedDate ) {
                                    $( "#id_end_date" ).datepicker( "option", selectedDate );
                            }
                    });
            });
    </script>
{% endblock %}
{% block content %}
    <h5>{{ name }}</h5>
    <br>
    <p>{{ info }}</p>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Показать" class="btn btn-primary"/>
    </form>
    {% if text %}
    {{ text }}
    {% elif list_of_metal %}
    <h6>Цены за выбранный промежуток дат:</h6>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
            <th>Дата:</th>
            <th>Цена за 1 грамм:</th></tr>
            </thead>
            <tbody>
            {% for rate in list_of_metal %}
            <tr>
                <td>{{ rate.date }}</td>
                <td>{{ rate.value }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>Неправильно введена дата!</p>
{% endif %}

{% endblock %}