{% extends "nbrb/base.html" %}
{% block title %}Цены на металлы{% endblock %}
{% block content %}
<h5>Цены на драгоценные металлы в виде банковских слитков:</h5>
<p>Последнее обновление данных: {{ date }}</p>
<div class="table-responsive">
    <table class="table">
    <thead>
    <tr>
    <th>Название металла:</th>
    <th>Цена за 1г.</th>
    </tr>
    </thead>
    <tbody>
    {% for rate in list_daily_price_ingots %}
        <tr>
        <td><a href="/{{ rate.ingot_name }}">{{ rate.ingot_name  }}</a></td>
        <td>{{ rate.value }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
